// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~admin-lte/dist/css/adminlte.css";
@import "~admin-lte/plugins/fontawesome-free/css/all.min.css";
// @import "~admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css";
// @import "~admin-lte/plugins/jqvmap/jqvmap.min.css";
// @import "~admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css";
// @import "~admin-lte/plugins/daterangepicker/daterangepicker.css";


.red {
    color:red;
}

.router-link-exact-active {
    background-color:#007bff;
    color: #fff !important;
}

.router-link-active {
    background-color: #007bff;
    color: #fff !important;
}